/* Gallery.css */
.image-one {
    background-image: url('./one.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  
  .image-two {
    background-image: url('./two.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  
  .image-five {
    background-image: url('./five.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  .image-three {
    background-image: url('./t.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  .image-four {
    background-image: url('./f.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  .image-six {
    background-image: url('./six.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }

  .image-seven {
    background-image: url('./seven.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }

  .image-eight {
    background-image: url('./bg.jfif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  
  .image-nine {
    background-image: url('./bg4.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  .b {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url("bg.jfif");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 768px) {
    .b{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
            url("bg.jfif");
        /* height: 100vh; */
        background-size: cover;
        background-position: center;
    }
  }